@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-avatarBox {
    width: 2.75rem;
    height: 2.75rem;
}

/* SignInButton Styles */
.cl-signInButton {
    font-size: 0.875rem; /* Smaller Text */
    padding: 10px; /* Smaller Padding */
    display: flex;
    align-items: center;
    justify-content: center; /* Keep Text in One Line */
    white-space: nowrap; /* No Line Breaks */
    background-color: rgb(63, 230, 63); /*     color: #121212; /* Dark Text */
    border-radius: 0.5rem; /* Rounded Corners */
    border: 2px solid transparent; /* Border for Hover Effect */
    cursor: pointer; /* Pointer Cursor */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Smooth Transitions */
  }
  
  .cl-signInButton:hover {
    background-color: rgb(29, 205, 29); /* Slightly Darker Yellow on Hover */
    border-color: rgb(27, 80, 27); /* Yellow Border */
  }
  


